/********** Template CSS **********/
*{
  box-sizing: border-box;
}
:root {
  --primary: #FEA116;
  --dark: rgb(45,52,52);
}

/* Header */
.navbar{
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 10%;
}
.navbar .title{
  color: var(--primary);
  font-size: 30px;
  margin-top: 4px;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  padding-right: 38vh;
}
.navbar-nav{
  margin-left: 290px;
}
.nav-item .active{
  border-bottom: 2px solid bisque;
  /* color: bisque; */
}

.menu-item{
  color: bisque;
  font-size: 25px;
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  margin-right: 40px;
}
.menu-item:hover{
  border-bottom: 2px solid bisque;
  color: bisque;
}
.navbar-toggler-icon{
  color: bisque;
}
/* .carousel-item img{
  width: 97%;
  height: 93vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
} */
.carouselImg{
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 90vh;
}
.imageCou{
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 90vh;
  /* max-width: 100%;
  max-height: 100%;
  vertical-align: middle; */
}
.tilesList{
  width: 97%;
  margin-top: 70px;
  margin-bottom: 70px;
}
.list{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  box-shadow: 0 0 20px rgb(45,52,52);
  float: left;
  margin-right: 70px;
}
.list img{
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.list h5{
  margin-top: 10px;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

/* css button custom*/
.customBtn .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  overflow: hidden;
  height: 2rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: 'Avalors Personal Use';
  font-size: 10px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.customBtn .btn:hover {
  transform: scale(1.1)
}

.customBtn .btn:active {
  border: double 4px #FE53BB;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.customBtn .btn:active .circle {
  background: #FE53BB;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* animated card */
.card {
  position: relative;
  width: 190px;
  height: 254px;
  background-color: black;
  /* display: flex;
  flex-direction: column;
  justify-content: end; */
  /* padding: 12px; */
  /* gap: 12px; */
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 42vh;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.card p:not(.heading) {
  font-size: 14px;
}

.card p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.50) scaleY(0.70);
}
.card img{
  width: 170px;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
}
.desc{
  color: beige;
  margin-left: 12px;
  margin-top: 12px;
  text-decoration: none;
}
.desc h6{
  font-size: 15px;
}
.desc .tileName{
  font-size: 17px;
}
.tileImg{
  width: 60vh;
  height: 60vh;
  box-shadow: 0 0 30px gray;
  padding: 0;
}
.tileImg img{
  width: 60vh;
  height: 60vh;
}
.Tilebox{
  box-shadow: 0 0 10px gray;
  border-radius: 20px;
  width: 120vh;
  height: 70vh;
  margin-left: 50px;
  padding: 30px;
  font-size: 23px;
}
.Tilebox td{
  padding: 10px;
}
.Tilebox .part2{
  margin-top: 60px;
  font-size: 22px;
}
.Tilebox .head{
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 15px;
  font-family: "Nunito",sans-serif;
}
.cartButton{
  background-color: red;
  width: 25vh;
  height: 7vh;
  color: beige;
  font-size: 20px;
  padding: 10px;
  border-radius: 20px;
}

/* Cart */
.container .box{
  font-family: sans-serif;
  font-size: 25px;
  color: rgb(175, 124, 58);
}
.container .customerDeatils{
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(175, 124, 58);
  font-weight: 600;
}
.table .probox{
  font-family: sans-serif;
  color: rgb(175, 124, 58);
}

/* Login form */
.login-form .container {
  background: #F8F9FD;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
}

.login-form .heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: rgb(16, 137, 211);
}

.login-form .form {
  margin-top: 20px;
}

.login-form .form .input {
  width: 100%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #cff0ff 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

.login-form .form .input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.login-form .form .input::placeholder {
  color: rgb(170, 170, 170);
}

.login-form .form .input:focus {
  outline: none;
  border-inline: 2px solid #12B1D1;
}

.login-form .form .login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.login-form .form .login-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.login-form .form .login-button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

.login-form .form .forgot-password {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.login-form .form .forgot-password .textAccount{
  font-size: 15px;
  color: #0099ff;
  text-decoration: none;
}

.login-form{
  background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjEwMTYtYy0wMi1rc2g2cWt1Zy5qcGc.jpg');
  height: 100vh;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 10px;
}

/* form */
.formBody{
  background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjEwMTYtYy0wMi1rc2g2cWt1Zy5qcGc.jpg');
  height: 100vh;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 10px;
}
.formContainer {
  width: 130vh;
  background: #F8F9FD;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.formContainer .heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: rgb(16, 137, 211);
}

.formContainer .form {
  margin-top: 20px;
  margin-left: 90px;
}

.formContainer .form .input {
  width: 40%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin: 15px;
  float: left;
  box-shadow: #cff0ff 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

.formContainer .form .input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.formContainer .form .input::placeholder {
  color: rgb(170, 170, 170);
}

.formContainer .form .input:focus {
  outline: none;
  border-inline: 2px solid #12B1D1;
}

.formContainer .form .login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.formContainer .form .login-button:hover {
  transform: scale(1.03);
  cursor: pointer;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.formContainer .form .login-button:active {
  transform: scale(0.95);
  cursor: pointer;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

.myBtn{
  background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
}
.menu{
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
/* Smapt */

.ff-secondary {
  font-family: 'Pacifico', cursive;
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}


/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}


/*** Button ***/
.btn {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #FFFFFF;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 2px;
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
  position: relative;
  margin-left: 25px;
  padding: 35px 0;
  font-size: 17px;
  color: var(--light) !important;
  text-transform: uppercase;
  font-weight: 500;
  outline: none;
  transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
  padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--primary) !important;
}

.navbar-dark .navbar-brand img {
  max-height: 60px;
  transition: .5s;
}

.colorY{
  color: #FEA116;
  font-family: "Nunito",sans-serif;
  font-weight: 800;
  font-size: 45px;
}

.colorW{
  color: lightskyblue;
  font-size: 30px;
  padding: 30px;
  margin-left: 250px;
  padding-left: 500px;
}

.sticky-top.navbar-dark .navbar-brand img {
  max-height: 45px;
}

@media (max-width: 991.98px) {
  .sticky-top.navbar-dark {
      position: relative;
  }

  .navbar-dark .navbar-collapse {
      margin-top: 15px;
      border-top: 1px solid rgba(255, 255, 255, .1)
  }

  .navbar-dark .navbar-nav .nav-link,
  .sticky-top.navbar-dark .navbar-nav .nav-link {
      padding: 10px 0;
      margin-left: 0;
  }

  .navbar-dark .navbar-brand img {
      max-height: 45px;
  }
}

@media (min-width: 992px) {
  .navbar-dark {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 999;
      background: transparent !important;
  }
  
  .sticky-top.navbar-dark {
      position: fixed;
      background: var(--dark) !important;
  }
}


/*** Hero Header ***/
.hero-header {
  background: linear-gradient(rgba(15, 23, 43, .5), rgba(15, 23, 43, .5)), url(./img/room.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* .hero-header img {
  animation: imgRotate 50s linear infinite;
} */


.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, .5);
}


/*** Section Title ***/
.section-title {
  position: relative;
  display: inline-block;
}

.section-title::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  left: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after {
  display: none;
}


/*** Service ***/
.service-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  transition: .5s;
  font-family: "Nunito", sans-serif;
}

.service-item:hover {
  background: rgb(122, 123, 123);
  color: bisque;
}
.heading{
  font-weight: 900;
  font-size: 20;
  font-family: "Nunito", sans-serif;
}


/*** Food Menu ***/
.nav-pills .nav-item .active {
  border-bottom: 2px solid var(--primary);
}


/*** Youtube Video ***/
/* .video {
  position: relative;
  height: 100%;
  min-height: 500px;
  background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)), url(../img/video.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.video .btn-play {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 18px 20px 18px 28px;
}

.video .btn-play:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: var(--primary);
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: var(--primary);
  border-radius: 50%;
  transition: all 200ms;
}

.video .btn-play img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video .btn-play span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid var(--dark);
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
  }

  100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
  }
}

#videoModal {
  z-index: 99999;
}

#videoModal .modal-dialog {
  position: relative;
  max-width: 800px;
  margin: 60px auto 0 auto;
}

#videoModal .modal-body {
  position: relative;
  padding: 0px;
}

#videoModal .close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0px;
  top: -30px;
  z-index: 999;
  font-size: 30px;
  font-weight: normal;
  color: #FFFFFF;
  background: #000000;
  opacity: 1;
}


/*** Team ***/
.team-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  height: calc(100% - 38px);
  transition: .5s;
}
.team-item .rounded-circle img{
  height: 250px;
  width: 250px;
  object-fit: cover;
}
.team-item .rounded-circle{
  height: 250px;
  width: 250px;
}

.team-item img {
  transition: .5s;
}

.team-item:hover img {
  transform: scale(1.1);
}

.team-item:hover {
  height: 100%;
}

.team-item .btn {
  border-radius: 38px 38px 0 0;
}


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
  transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
  background: var(--primary) !important;
  border-color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
  color: var(--light) !important;
}

.testimonial-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #CCCCCC;
  border-radius: 15px;
  transition: .5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--primary);
  border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid #FFFFFF;
  border-radius: 35px;
  transition: .3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.footer{
  width: 97%;
}
.footer .section-title{
  color: var(--primary);
}
